<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <form
            id="login-form"
            action=""
            class="bg-dark text-white border rounded p-3"
          >
            <div class="form-group mb-3">
              <label for="">Usuario</label>
              <input
                name="username"
                type="text"
                class="form-control"
                value="Isalinas"
              />
            </div>
            <div class="form-group mb-3">
              <label for="">Contraseña</label>
              <input
                name="password"
                type="password"
                class="form-control"
                value="1234abcd"
              />
            </div>
            <button type="button" id="log-in-btn" class="btn btn-primary w-100">
              Log In
            </button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="../js/loginForm.js"></script>
  </body>
</html>
